h1 {
    color: blue;
    border-bottom: 2px double black;
    border-radius: 2px;
    text-align: center;
    text-transform: capitalize;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.form input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(139, 0, 0);
}

div {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 8px;
    margin: 20px 30%;
    padding: 5px 10px;
}